PUBLIC_GISCUS_REPO=MarcosCarmonaGarcia/marcos-portfolio
PUBLIC_GISCUS_REPO_ID=R_kgDOTJ8h8w
PUBLIC_GISCUS_CATEGORY=Comentarios
PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOTJ8h884DATbk
PUBLIC_GISCUS_THEME=dark
PUBLIC_GISCUS_LANG=es
